@import "./base/core";

* {
   font-family: $primaryFont;
}

body{
   background-color:$white;
   margin: 0;
}
header{
display:flex;
background-color: $blackthema-light-opacity;
width: 100%;
align-items: center;
justify-content: space-between;
height: 56px;
}
.menu-logo{
}
.menu-button{

}
.header-button{
  border: none;
  background-color: $black-theme-light;
  margin: 0px 8px;
  width: 40px;
  height:40px;
}
.icon-header{
   background-color: $black-theme-light;
   color: $icon-color-fill;
   height: 24px;
   width: 24px;
}
.icon-search{
   color: $icon-color-fill;
   height: 24px;
   width: 24px;
   background-color: $bordor-color;
}
.icon-button{
   background-color: $black-theme-light;
   height: 24px;
   width: 24px;
}
.search{
width: 35%;
height: 32px;
align-items: center;
display: flex;
}
.search-input{
width: 85%;
height: 100%;
border: none;
padding: 0;
background-color: $blacktheme-dark;
font-size:$l ;
}
.search-button{
width: 9%;
height: 100%;
border: 1.18px solid $bordor-color;
padding: 0px;
background-color: $bordor-color;
border-radius: 0px 2px 2px 0px;
}
.frame1{
flex-direction: row;
display: flex;
align-items: center;
}
.frame-subphoto{

}
.subphoto-button{
margin: 0px 16px;
width: 32px;
height: 32px;
}
.subphoto{

}
.sidebar{
font-size:$m;
background-color:$black-theme-light ;
width: 15%;
}
.sidebar p{
   color:$white;
   font-weight: $regular;
   width: 60%;
}
.topmenu{

}
.menu-button{
   border: none;
   background-color: $black-theme-light;
}
.detail-menu{

}
.frame{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}